*{  /* selecciona todas las etiquetas*/
    margin: 0; /* margen*/
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}

body{
    background-image: url(../imagenes/c.jpg); /*imagen de fondo */
    background-size: cover;  /* se adapta al tamano */
    background-repeat: no-repeat; /*  que no se repita el fondo*/
    background-position: center;  /* se posicione y abarque todo el ancho */
    background-attachment: fixed; /* se adpta  */
}

main{
    width: 100%;  /* */
    padding: 20px; /* */
    margin: auto; /* se centre */
    margin-top: 100px; /* todo el contenido baje acia abajo*/
}

.contenedor__todo{
    width: 100%;    
    max-width: 800px;  /* ancho maximo*/
    margin: auto;  /* se mantenga centrado */
    position: relative;  
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;  /* arriba ajajo, izquierda a derecha */
    display: flex; /* esto permita que diseño se mueva */
    justify-content: center; 
    backdrop-filter: blur(10px); /* aga el desenfoque*/
    background-color: rgba(0, 128, 255, 0.5); /*  */
}

.caja__trasera div{
    margin: 100px 40px;  /* margen de alto, ancho */
    color: white; /*  color texto*/
    transition: all 500ms; /* pequena transicion que se aga culquier movimiento */
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px; /*espaciado entre las letras*/
}

.caja__trasera div h3{
    font-weight: 400; /* menos de grosor en el titulo*/
    font-size: 26px; /*  mas grande la letra*/
}

.caja__trasera button{
    padding: 10px 40px; /*alta, espaciado */
    border: 2px solid #fff;  /* borde solido de color blanco */
    background: transparent; /* transparente */
    font-size: 14px;  /* tamaño del texto 14px*/
    font-weight: 600; /* grosor del texto */
    cursor: pointer; /* es para decir que ejecuta alguna funcion */
    color: white; /*la letras de color blanco */
    outline: none;  /* se elimina esa pequena linea negra */
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;  /*cuando pasa el cursor se hace blanco */
    color: #46A2FD;    /*color del texto color azul */
}

/* formularios */
.contenedor__login-register{
    display: flex;  /* separe los formularios*/
    align-items: center;  /* centra */
    width: 100%;
    max-width: 380px;  /*ancho maximo */
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100% ;
    padding: 80px 20px; /* arriba ajajo, izquierda a derecha */
    background: #fff; /*color blanco */
    position: absolute;  /*para poder mover*/
    border-radius: 20px;  /* borde redondo*/
}

.contenedor__login-register form h2{
    font-size: 30px;  /* tamaño */
    text-align: center;
    margin-bottom: 20px;
    color: #46A2fd;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__register{
    display: none;
}


/* trabajando en el responsi disay */

@media screen and (max-width: 850px){ /* cuando la pagina tenga 850px quiero que me aga algo*/
    main{
        margin-top: 3250px;
    }
    .caja__trasera{
        max-width: 350px; /* la caja ancho maximo*/
        height: 300px;  /*alto*/
        flex-direction: column; /**/
        margin:auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }

    /*formulario*/
    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}
    


